parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    reportUnmatchedIgnoredErrors: false
    scanDirectories:
        - dev/tests/static/framework/tests/unit/testsuite/Magento
        - dev/tests/integration/framework/tests/unit/testsuite/Magento
        - dev/tests/api-functional/_files/Magento
        - generated
    bootstrapFiles:
        - dev/tests/static/framework/autoload.php
        - dev/tests/static/framework/Magento/PhpStan/autoload.php
